---
layout: master
---

<div class="row">
  <div class="col">
    <ul class="nav nav-pills nav-justified flex-column">
      <li class="nav-item">
      <a class="nav-link" href="#">Studio classes</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">Instructors</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">Gym</a>
      </li>
    </ul>
  </div>
  <div class="col-10">
    <div class="jumbotron jumbotron-fluid" style="background-image: url({{page.thumbnail}});">
      <div class="container">
        <h1 class="display-3 text-white">{{page.title}}</h1>
        <p class="lead">{{page.description}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-9">
        {{content}}
      </div>
      <div class="col">
        <div class="bg-info">
          <h3>Quick Links: </h3>
          <ul class="nav flex-column">
            <li class="nav-item">
            <a class="nav-link" href="#">Link-1</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Link-2</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Link-3</a>
            </li>
          </ul>
        </div>
        {% for image in page.images %}
          <img class="img-thumbnail" src="{{'assests/img/' | append: image | absolute_url}}">
        {% endfor %}
      </div>
    </div>
  </div>
</div>
