---
layout: master
---

<div class="row">
  <div class="col">
    <ul class="nav nav-pills nav-justified flex-column">
      <li class="nav-item">
      <a class="nav-link" href="#">Studio classes</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">Instructors</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">Gym</a>
      </li>
    </ul>
  </div>
  <div class="col-10">
    <div class="jumbotron jumbotron-fluid" style="background-image: url({{'assets/img/' | append: page.thumbnail | absolute_url}});">
      <div class="container">
        <h1 class="display-3 text-white">{{page.title}}</h1>
        <p class="lead text-white">{{page.description}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-9">
        {{content}}
      </div>
      <div class="col">
        {% for image in page.images %}
          <img class="img-thumbnail" src="{{'assets/img/' | append: image | absolute_url}}">
        {% endfor %}
      </div>
    </div>
  </div>
</div>
